.App {
  text-align: center;
}

.card {
  border-style: dashed;
  border-color: black;
}

.image {
  height: 15rem;
  width: auto;
}

.main {
  height: 20rem;
  width: auto;
}

.background {
  background-color: #ffffed;
}

.cookbook {
  color: black
}

.recipes {
  background-color: #ffffed;
}

.title {
  background-color: #98fb98;
  border-style: solid;
  border-color:black
}
